<div class="my-5">
  <%= render partial: "shared/flashes" %>

  <h2>Cities</h2>

  <%= form_with(url: cities_path, method: :get) do |f| %>
    <div class="row">
      <div class="col">
        <input
          class="form-control list-search"
          type="search"
          name="query"
          placeholder="Search cities"
          value="<%= params[:query] %>"
        >
      </div>

      <div class="col-auto">
        <%= f.submit 'Search', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>

  <% if @cities.any? %>
    <hr class='my-5'>

    <div class="row">
      <% @cities.each do |city| %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <%= render partial: "authenticated/cities/index/city_card", locals: { city: city } %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
