<div class="my-5">
  <%= render partial: "shared/flashes" %>

  <%= link_to "< Back", cities_path %>

  <h2 class="mt-5">
    <%= @city.name %> (<%= @city.country %>, <%= @city.administrative_area %>)
  </h2>

  <% @city.daily_forecasts.each do |daily_forecast| %>
    <%= render partial: "authenticated/cities/show/daily_forecast_card", locals: { daily_forecast: daily_forecast } %>
  <% end %>
</div>
