<% user_bookmark = city.bookmarks.find_by(user_id: current_user.id) %>
<% id = user_bookmark ? "favorite-city-#{city.accuweather_key}" : "city-#{city.accuweather_key}" %>

<div id="<%= id %>" class="col-12 col-sm-6 col-md-4 col-lg-3">
  <div class="card my-3">
    <div class="row align-items-center">
      <div class="col text-truncate">
        <%= link_to city_path(accuweather_key: city.accuweather_key), data: { turbo: false } do %>
          <div class="card-body">
            <span class="text-muted small">
              <em class="fst-normal fw-bold"><%= city.name %></em>

              (<%= city.country %>, <%= city.administrative_area %>)
            </span>
          </div>
        <% end %>
      </div>

      <div class="col-auto me-3">
        <% if user_bookmark %>
          <%= form_with(
            url: city_bookmark_path(user_bookmark.id, city_accuweather_key: city.accuweather_key),
            method: :delete) do |f|
          %>
            <button type="submit" class="btn btn-sm btn-dark text-light">
              <i class="bi bi-bookmark-fill text-white"></i>
            </button>
          <% end %>
        <% else %>
          <%= form_with(url: city_bookmarks_path(city_accuweather_key: city.accuweather_key), method: :post) do |f| %>
            <button type="submit" class="btn btn-sm btn-light text-dark">
              <i class="bi bi-bookmark-fill"></i>
            </button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
